@import '../../../styles/framework.scss';

:host {
  border: none;
  @include padding(md, lr);
  @include padding(sm, bt);
  cursor: pointer;
  transition: transform 0.5s;

  &.al-btn-primary {
    background-color: getColor(blue);
    color: getColor(white);
    text-transform: uppercase;
    // box-shadow: 0 .3rem 5rem rgba(getColor(black), 0.3);
    border-radius: 0.5rem;

    &:hover {
      border: 0.1rem solid getColor(blue);
      background-color: rgba(getColor(blue), 0.2);
      color: getColor(blue);
    }
  }

  &.al-btn-animated {
    background-color: getColor(blue);
    color: getColor(white);
    box-shadow: 0 1rem 5rem getColor(blue);
    border-radius: 0.5rem;

    &:hover {
      transform: translateY(-0.5rem);
    }
  }

  &.al-btn-size-large {
    @include font-size(md);

    @include media(tablet) {
      @include font-size(lg);
    }
    @include padding(lg, lr);
  }

  &.al-btn-size-medium {
    @include font-size(md);
  }

  &.al-btn-size-small {
    @include font-size(sm);
  }
}
