@import '../../../styles/framework.scss';

:host {
  border: none;
  @include padding(md, lr);
  @include padding(sm, bt);
  cursor: pointer;
  transition: transform 0.5s;

  &.al-btn-primary {
    background-color: getColor(blue);
    color: getColor(white);
    text-transform: uppercase;
    border-radius: 0.5rem;

    &:hover {
      border: 0.1rem solid getColor(blue);
      background-color: getColor(blue-light);
      color: getColor(blue);
    }
  }

  &.al-btn-secondary {
    background-color: getColor(purple);
    color: getColor(white);
    text-transform: uppercase;
    border-radius: 0.5rem;

    &:hover {
      border: 0.1rem solid getColor(purple);
      background-color: getColor(purple-light);
      color: getColor(purple);
    }
  }

  &.al-btn-tertiary {
    background-color: getColor(green);
    color: getColor(white);
    text-transform: uppercase;
    border-radius: 0.5rem;

    &:hover {
      border: 0.1rem solid getColor(green);
      background-color: getColor(green-light);
      color: getColor(green);
    }
  }

  &.al-btn-alert {
    background-color: getColor(red);
    color: getColor(white);
    text-transform: uppercase;
    border-radius: 0.5rem;

    &:hover {
      border: 0.1rem solid getColor(red);
      background-color: getColor(red-light);
      color: getColor(red);
    }
  }

  &.al-btn-animated {
    background-color: getColor(blue);
    color: getColor(white);
    box-shadow: 0 1rem 5rem getColor(blue);
    border-radius: 0.5rem;

    &:hover {
      transform: translateY(-0.5rem);
    }
  }

  &.al-btn-size-large {
    @include font-size(md);

    @include media(tablet) {
      @include font-size(lg);
    }
    @include padding(lg, lr);
  }

  &.al-btn-size-medium {
    @include font-size(md);
  }

  &.al-btn-size-small {
    @include font-size(sm);
  }

  &.al-btn-size-tiny {
    @include font-size(sm);
    text-transform: none;
  }

  &.al-btn-size-fit {
    @include font-size(lg);
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
