@import '../variables/theme';
@import '../variables/typography';
@import '../variables/layout';

.al-c-btn-primary {
  color: getColor(white, base);
  background-color: getColor(primary, base);
  border: 1px solid getColor(primary, light);
  cursor: pointer;

  &:hover {
    background-color: getColor(primary, light);
    border: 1px solid getColor(primary, dark);
  }
}

.al-c-btn-secondary {
  color: getColor(white, base);
  background-color: getColor(secondary, base);
  border: 1px solid getColor(secondary, light);
  cursor: pointer;

  &:hover {
    color: getColor(secondary, vdark);
    background-color: getColor(secondary, vlight);
    border: 1px solid getColor(secondary, dark);
  }
}

.al-c-btn-tertiary {
  color: getColor(white, base);
  background-color: getColor(tertiary, base);
  border: 1px solid getColor(tertiary, light);
  cursor: pointer;

  &:hover {
    background-color: getColor(tertiary, light);
    border: 1px solid getColor(tertiary, dark);
  }
}

.al-c-btn-default {
  color: getColor(black, base);
  background-color: getColor(white, base);
  border: 1px solid getColor(black, base);
  cursor: pointer;

  &:hover {
    color: getColor(white, base);
    background-color: getColor(black, base);
  }
}

.al-c-btn-size-sm {
  font-size: getFontSize(sm);
  padding: getSpaceSize(sm);
}

.al-c-btn-size-md {
  font-size: getFontSize(md);
  padding: getSpaceSize(md);
}

.al-c-btn-size-lg {
  font-size: getFontSize(vl);
  padding: getSpaceSize(md) getSpaceSize(lg);
}
