<app-spinner *ngIf="loading; else showTopics"></app-spinner>

<ng-template #showTopics>
  <div class="al-lf al-lf-fd-c al-lf-ai-str">
    <button class="al-lw-100 al-tta-c" alBtn size="sm" type="tertiary" (click)="toggleAddTopic()">
      <span class="al-tf-lg al-lm-r-lg">Add Topic</span>
      <span class="fa {{ isShowForm ? 'fa-times' : 'fa-plus' }}"></span>
    </button>
    <form
      [@slideForm]="isShowForm ? 'open' : 'close'"
      (submit)="addNewTopic(topicName.value)"
      class="al-lf al-lf-fd-r new-topic-form al-sb-tertiary-dark-b al-lm-t-sm al-lp-b-sm"
    >
      <input #topicName class="new-topic-input al-tf-lg" name="topicName" placeholder="Topic Name" />
      <button class="new-topic-btn" alBtn size="sm" type="tertiary">
        <span class="fa fa-plus"></span>
      </button>
    </form>
  </div>

  <div id="topics" class="al-lf al-lf-fd-c al-lf-ai-str al-tta-c" *ngIf="topics.length > 0; else noTopics">
    <ng-container *ngFor="let topic of topics">
      <a
        class="al-ld-b al-lp-lg al-tta-l al-lm-t-sm al-tf-lg al-sbg-secondary al-sc-white"
        [routerLink]="['/main', 'cards', topic.id]"
      >
        <span class="fa fa-book"></span>
        {{ topic.name }}</a
      >
    </ng-container>
  </div>

  <ng-template #noTopics>
    <p class="al-tta-c">No topics yet. Click add above to add topic</p>
  </ng-template>
</ng-template>
