<div class="home-page">
  <div class="home-page-head">
    <span class="home-page-head__cards">
      <a alLink [underline]="true" [routerLink]="['/app', 'study']">Cards to Review: {{ studyCards.length }}</a>
    </span>
    <span class="home-page-head__email">{{ user && user.email }}</span>
  </div>
  <div class="home-page__content">
    <div class="topics-section">
      <div class="accordion">
        <h2>Topics</h2>
        <al-accordion *ngFor="let topic of topics" [expanded]="topic.name === 'Untitled'">
          <al-accordion-header>
            {{ topic.name }} {{ topic.name === 'Untitled' ? '(Edit topic name)' : '' }} ({{ topic.cards.length }})
          </al-accordion-header>
          <al-accordion-body>
            <app-topic-form [topic]="topic"></app-topic-form>
            <app-card-manager [topicId]="topic.id"></app-card-manager>
          </al-accordion-body>
        </al-accordion>
      </div>
      <div class="topics-section-heading">
        <div class="create-topic">
          <button alBtn="secondary" class="create-topic-button" (click)="addNewTopic()">
            <span class="button-icon">
              <i class="fas fa-plus"></i>
            </span>
            Add a New Topic
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
