@import 'framework.scss';

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.6rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-page {
  background-color: getColor(blue-light-2);
  min-height: 100vh;
  margin: 0;

  @include media(tablet) {
    @include margin(md, t);
  }

  .home-page-head {
    border-bottom: 1px solid getColor(blue-green-line);
    background-color: getColor(white);
    font-size: 1.6rem;
    box-shadow: 0rem 1.2rem 2rem -1.8rem getColor(shadow-dark);
    color: getColor(black);
    display: flex;
    justify-content: flex-end;
    @include padding(sm);

    @include media(tablet) {
      @include padding(md);
      justify-content: space-between;
    }

    &__email {
      display: none;

      @include media(tablet) {
        display: inline-block;
      }
    }
  }

  &__content {
    width: 95%;
    margin: 0 auto;
    @include padding(lg, t);

    .topics-section {
      display: flex;
      flex-direction: column;

      @include media(desktop) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .sidebar {
        @include media(desktop) {
          flex-basis: 30%;
          @include margin(lg, l);
          @include padding(lg, l);
          border-left: 1px solid getColor(blue-green-line);
        }

        .topics-header {
          @include padding(md, t);
          display: flex;
          justify-content: space-between;
        }

        .topics-section__search {
          display: flex;
          @include margin(md, t);

          &-input {
            width: 100%;
            @include margin(sm, r);
            @include font-size();
          }
        }
      }
    }

    .accordion-container {
      display: flex;
      width: 100%;
      justify-content: center;

      .accordion {
        display: flex;
        flex-direction: column;
        width: 100%;

        .heading-desktop {
          display: none;

          @include media(desktop) {
            display: block;
          }
        }

        @include media(desktop) {
          width: 65%;
        }

        .study-cards-container {
          display: flex;
          align-items: center;
          justify-content: center;
          @include margin(md, tb);
        }

        .accordion-card {
          display: flex;
          flex-direction: column;

          @include padding(lg);
        }

        .topics-section-heading {
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid getColor(blue-green-line);
          @include margin(lg, t);

          .create-topic {
            display: flex;
            width: 100%;

            .create-topic-button {
              flex-basis: 100%;
              flex-grow: 2;
            }
          }
        }
      }
    }
  }
}
