@import 'framework.scss';

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.6rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-page {
  background-color: getColor(blue-light-2);
  min-height: 100vh;

  .home-page-head {
    padding: 1rem;
    border-bottom: 1px solid getColor(blue-green-line);
    background-color: getColor(white);
    font-size: 1.6rem;
    box-shadow: 0rem 1.2rem 2rem -1.8rem getColor(shadow-dark);
    text-align: right;

    &__email {
      color: getColor(black);
    }
  }

  &__content {
    width: 70%;
    margin: 0 auto;

    .home-page-stats {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .stats-box {
        flex-basis: 25%;
        display: inline-block;
        @include padding(lg-2, tlr);
        @include margin(lg-3, t);
        @include margin(lg-2, b);
        border-radius: 0.5rem;
        min-height: 18rem;
        // box-shadow: 0.3rem 1.2rem 5rem -1rem getColor(shadow-light);
        color: getColor(white-2);
        font-family: Coda;

        &:not(:last-child) {
          @include margin(lg, r);
        }

        &__heading {
          font-size: 2rem;
          display: block;
        }

        &__number {
          font-size: 5.6rem;
          display: block;
        }

        &--topics {
          background: linear-gradient(to top left, #73bcd8 1rem, #537bec);
          animation: upAndDown 200ms 200ms;
        }

        &--cards {
          background: linear-gradient(to top left, #84ffa4 1rem, #1ca058);
          animation: upAndDown 200ms 300ms;
        }

        &--needs-review {
          background: linear-gradient(to top left, #f1cab9 1rem, #ca5f19);
          animation: upAndDown 200ms 500ms;
        }

        &--next-study {
          background: linear-gradient(to top left, #f897f0 1rem, #c514b6);
          animation: upAndDown 200ms 700ms;

          .stats-box__number {
            font-size: 2.4rem;
            margin-top: 2.2rem;
          }
        }
      }
    }

    .topics-section {
      border: 1px solid getColor(blue-green-line);

      .topics-section-heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid getColor(blue-green-line);
        @include padding(sm);

        &__heading {
          @include padding(lg, r);
          border-right: 1px solid getColor(blue-green-line);
        }
      }

      table.topics-table {
        // background-color: green;

        width: 100%;
        text-align: left;

        th {
          font-weight: bold;
          @include padding(sm);
        }

        td {
          @include padding(sm);
        }

        // display: table;
      }
    }
  }
}
