<div class="home-page">
  <div class="home-page-head">
    <span class="home-page-head__cards">
      <a alLink [underline]="true" href="/app/study">Cards to Review: {{ cardsToStudyCount }}</a>
    </span>
    <span class="home-page-head__email">{{ user && user.email }}</span>
  </div>
  <div class="home-page__content">
    <div class="topics-section">
      <div class="sidebar">
        <div class="topics-header">
          <h2>Topics</h2>
          <button alBtn="secondary" class="create-card-button" (click)="toggleAddNewCard()">
            <span class="button-icon">
              <i class="fas fa-plus"></i>
            </span>
            Add a new Card
          </button>
          <app-add-new-card *ngIf="addNewCard" (closeModal)="closeAddNewCardModal()"></app-add-new-card>
        </div>
        <div class="topics-section__search">
          <input class="topics-section__search-input" #searchInput />
          <button alBtn="plain" (click)="searchCards(searchInput.value)">Search</button>
        </div>
      </div>
      <div class="accordion-container">
        <div class="accordion">
          <h2 class="heading-desktop">Topics</h2>
          <al-accordion *ngFor="let topic of topicWithCards" [expanded]="topic.name === 'Untitled'">
            <al-accordion-header>
              {{ topic.name }} {{ topic.name === 'Untitled' ? '(Edit topic name)' : '' }} ({{ topic.cardCount }})
            </al-accordion-header>
            <al-accordion-body>
              <app-topic-form [topic]="topic"></app-topic-form>
              <div *ngIf="topic.cardCount > 0 && topic.cards.length === 0">
                <app-loading></app-loading>
              </div>
              <div class="study-cards-container">
                <a alBtn="secondary" href="/app/study?topicId={{ topic.id }}">Study Cards</a>
              </div>
              <app-card-manager [topicId]="topic.id" [cards]="topic.cards"></app-card-manager>
            </al-accordion-body>
          </al-accordion>
          <div class="topics-section-heading">
            <div class="create-topic">
              <button alBtn="secondary" class="create-topic-button" (click)="addNewTopic()">
                <span class="button-icon">
                  <i class="fas fa-plus"></i>
                </span>
                Add a New Topic
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
