@import 'framework.scss';

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.6rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-page {
  background-color: getColor(blue-light-2);
  min-height: 100vh;
  @include margin(md, t);

  .home-page-head {
    padding: 1rem;
    border-bottom: 1px solid getColor(blue-green-line);
    background-color: getColor(white);
    font-size: 1.6rem;
    box-shadow: 0rem 1.2rem 2rem -1.8rem getColor(shadow-dark);
    color: getColor(black);
    display: flex;
    justify-content: space-between;

    &__cards {
    }

    &__email {
      display: none;

      @include media(tablet) {
        display: inline-block;
      }
    }
  }

  &__content {
    width: 95%;
    margin: 0 auto;

    @include media(tablet) {
      width: 70%;
    }

    .accordion {
      display: flex;
      flex-direction: column;
    }

    .topics-section {
      @include padding(md, t);

      .topics-section-heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid getColor(blue-green-line);
        @include padding(sm);

        &__heading {
          @include padding(lg, r);
          border-right: 1px solid getColor(blue-green-line);
        }
      }
    }
  }
}
