@mixin _generateClass($cssClass, $rule, $borderValue) {
  #{$cssClass} {
    #{$rule}: #{$borderValue};
  }
}

@function _generateBorderClassName(
  $prefix,
  $thickness,
  $color,
  $accent,
  $direction
) {
  $className: '.#{$prefix}';

  @if ($thickness != 'normal') {
    $className: '#{$className}-#{$thickness}';
  }

  @if ($accent== 'base') {
    $className: '#{$className}-#{$color}';
  } @else {
    $className: '#{$className}-#{$color}-#{$accent}';
  }

  @if ($direction != 'a') {
    $className: '#{$className}-#{$direction}';
  }

  @return $className;
}

@function _generateBorderCssRule($type, $directionValue) {
  @return '#{$type}-#{$directionValue}';
}

@function _generateBorderValue($thickness, $color) {
  @return '#{$thickness} solid #{$color}';
}

@mixin generateBorderClasses($prefix, $type) {
  @each $direction, $directionValue in $directionMap {
    @each $thickness, $thicknessValue in $thicknessMap {
      @each $palette, $paletteValue in $paletteMap {
        @each $accent, $accentValue in $paletteValue {
          @if type-of($directionValue) == 'map' {
            @each $singleDirection, $singleDirectionValue in $directionValue {
              @include _generateClass(
                _generateBorderClassName(
                  $prefix,
                  $thickness,
                  $palette,
                  $accent,
                  $direction
                ),
                _generateBorderCssRule($type, $singleDirectionValue),
                _generateBorderValue($thicknessValue, $accentValue)
              );
            }
          } @else {
            @include _generateClass(
              _generateBorderClassName(
                $prefix,
                $thickness,
                $palette,
                $accent,
                $direction
              ),
              _generateBorderCssRule($type, $directionValue),
              _generateBorderValue($thicknessValue, $accentValue)
            );
          }
        }
      }
    }
  }

  .al-sb-n-t {
    border-top: none;
  }

  .al-sb-n-b {
    border-bottom: none;
  }

  .al-sb-n-l {
    border-left: none;
  }

  .lol-sb-n-r {
    border-right: none;
  }

  .lol-sb-n-x {
    border-left: none;
    border-right: none;
  }

  .lol-sb-n-y {
    border-top: none;
    border-bottom: none;
  }
}
