@import 'framework.scss';

.profile {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  @include font-size(sm);

  @include media(tablet) {
    @include font-size(lg);
    width: 70%;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include margin(md, tb);
      border-bottom: 0.1rem dotted getColor(gray);
      @include padding(sm, b);
    }

    &__field {
      flex-basis: 50%;
      text-align: left;
    }

    &__value {
      flex-basis: 50%;
      text-align: right;

      &--email {
        overflow: scroll;
      }
    }
  }
}
