<div class="confirm-container">
  <div class="confirm">
    <div class="logo">
      <div class="logo__image">
        <app-main-logo size="medium"></app-main-logo>
      </div>
    </div>

    <div class="errors">
      <al-alert [messages]="errors" type="error"></al-alert>
    </div>

    <form (submit)="confirm($event, email.value, code.value)" class="confirm-form">
      <p class="confirm-form__message">Check the email you registered with to get the confirmation code.</p>

      <div>
        <label class="confirm-form__label">Email:</label>
        <br />
        <input class="confirm-form__input confirm-form__input--email" type="text" #email />
      </div>

      <div>
        <label class="confirm-form__label">Confirmation Code: </label>
        <br />
        <input class="confirm-form__input confirm-form__input--code" type="text" #code />
      </div>

      <button class="confirm-form__submit" alBtn="primary" size="small">Confirm</button>
    </form>
  </div>
</div>
