<h1>Typography</h1>
<h2>Font Styles and Colors</h2>
<div class="font-styles">
  <ng-container *ngFor="let style of styles">
    <p class="text" [style.color]="style.color" [style.backgroundColor]="style.bgColor">
      <span class="small">{{ style.name }}</span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptate nobis beatae aspernatur velit asperiores,
      in, voluptatum delectus vel modi facilis maiores possimus? Quaerat dolor sint amet porro asperiores? Nobis?
    </p>
  </ng-container>
</div>

<h2>Font Sizes</h2>
<div class="font-sizes">
  <p class="small2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsum dolorum repellat eos culpa molestiae
    temporibus, fuga ab non. Veniam ad quo praesentium est omnis delectus quod, eveniet magni aspernatur. -- small 2
  </p>
  <p class="small">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsum dolorum repellat eos culpa molestiae
    temporibus, fuga ab non. Veniam ad quo praesentium est omnis delectus quod, eveniet magni aspernatur. -- small
  </p>
  <p class="medium">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsum dolorum repellat eos culpa molestiae
    temporibus, fuga ab non. Veniam ad quo praesentium est omnis delectus quod, eveniet magni aspernatur. -- normal
  </p>
  <p class="large">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsum dolorum repellat eos culpa molestiae
    temporibus, fuga ab non. Veniam ad quo praesentium est omnis delectus quod, eveniet magni aspernatur. -- large
  </p>
  <p class="large2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsum dolorum repellat eos culpa molestiae
    temporibus, fuga ab non. Veniam ad quo praesentium est omnis delectus quod, eveniet magni aspernatur.-- large 2
  </p>
</div>

<h1>Spacing</h1>
<h2>Padding</h2>
<div class="padding">
  <ng-container *ngFor="let item of ['small', 'medium', 'large', 'large-2']">
    <div class="padding-{{ item }}">
      {{ item }}
    </div>
  </ng-container>
</div>

<h2>Margin</h2>
<div class="margin">
  <ng-container *ngFor="let item of ['small', 'medium', 'large', 'large-2']">
    <p>{{ item }}</p>
    <div class="margin-{{ item }}">
      <div class="margin-item"></div>
      <div class="margin-item"></div>
      <br />
      <div class="margin-item"></div>
      <div class="margin-item"></div>
    </div>
  </ng-container>
</div>

<h1>Buttons</h1>

<div class="buttons">
  <div class="button-holder">
    <button alBtn="primary" size="small">Primary - Small</button>
  </div>
  <div class="button-holder">
    <button alBtn="primary" size="medium">Primary - Medium</button>
  </div>
</div>
