@import 'framework.scss';

.main {
  min-height: 90vh;
}

.nav {
  @include padding(md);
  @include font-size(md);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid getColor(blue-green-line);

  &__header {
    display: inline-block;
    flex-grow: 4;
    @include font-size(md);
  }

  &__pages {
    display: none;

    @include media(tablet) {
      display: inline-block;
    }

    @include margin(lg, l);

    .nav__page {
      display: inline-block;

      @include margin(md, r);
    }
  }

  &__study {
    @include font-size(sm);
    @include margin(md, r);

    @include media(tablet) {
      display: none;
    }
  }

  .nav-link {
    &.router-link-active {
      @include font-weight(semibold);
      color: getColor(purple);
    }
  }

  .mobile-nav-toggler {
    @include media(tablet) {
      display: none;
    }
  }
}

.mobile-nav {
  @include media(tablet) {
    display: none;
  }

  &__toggle {
    display: none;

    &:checked ~ .mobile-nav__container {
      max-height: 30rem;
      opacity: 1;
    }
  }

  &__toggler {
    display: inline-block;
  }

  .mobile-nav__container {
    max-height: 0;
    opacity: 0;
    backface-visibility: hidden;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    transition: all 0.2s ease-in;

    .mobile-nav__pages {
      height: 100%;
      overflow: hidden;
      display: inline-block;
      width: 100%;
      @include padding(md);

      text-align: center;
      background-color: getColor(purple-light);
      color: getColor(black);

      .mobile-nav__page {
        @include padding(md, tb);
        text-align: center;

        .router-link-active {
          @include font-weight(semibold);
        }
      }
    }
  }
}
