<div class="main">
  <div class="nav">
    <h1 class="nav__header">
      <app-main-logo></app-main-logo>
    </h1>
    <ul class="nav__pages">
      <li class="nav__page">
        <a
          class="nav-link"
          alLink="animated"
          color="secondary"
          [routerLink]="['/app', 'dashboard']"
          routerLinkActive="router-link-active"
          >Dashboard</a
        >
      </li>
      <li class="nav__page">
        <a
          class="nav-link"
          alLink="animated"
          color="secondary"
          [routerLink]="['/app', 'profile']"
          routerLinkActive="router-link-active"
          >Profile</a
        >
      </li>
      <li class="nav__page">
        <a
          class="nav-link"
          alLink="animated"
          color="secondary"
          [routerLink]="['/app', 'study']"
          routerLinkActive="router-link-active"
          >Study</a
        >
      </li>
      <li class="nav__page">
        <a
          class="nav-link"
          alLink="animated"
          color="secondary"
          [routerLink]="['/app', 'topics']"
          routerLinkActive="router-link-active"
          >Topics</a
        >
      </li>
      <li class="nav__page">
        <a
          class="nav-link"
          alLink="animated"
          color="secondary"
          [routerLink]="['/app', 'card-manager']"
          routerLinkActive="router-link-active"
          >Card Manager</a
        >
      </li>
      <li class="nav__page">
        <app-auth-sign-out></app-auth-sign-out>
      </li>
    </ul>
    <a
      alBtn="primary"
      size="small"
      class="nav__study"
      [routerLink]="['/app', 'study']"
      routerLinkActive="router-link-active"
      >Study</a
    >
    <label #mobileNavToggler for="mobile-nav" class="mobile-nav-toggler"><i class="fas fa-bars"></i></label>
  </div>
  <div class="mobile-nav">
    <input type="checkbox" id="mobile-nav" class="mobile-nav__toggle" />
    <div class="mobile-nav__container">
      <ul class="mobile-nav__pages">
        <li class="mobile-nav__page">
          <a [routerLink]="['/app', 'dashboard']" routerLinkActive="router-link-active" (click)="toggleMobileNav()"
            >Dashboard</a
          >
        </li>
        <li class="mobile-nav__page">
          <a [routerLink]="['/app', 'profile']" routerLinkActive="router-link-active" (click)="toggleMobileNav()"
            >Profile</a
          >
        </li>
        <li class="mobile-nav__page">
          <a [routerLink]="['/app', 'study']" routerLinkActive="router-link-active" (click)="toggleMobileNav()"
            >Study</a
          >
        </li>
        <li class="mobile-nav__page">
          <a [routerLink]="['/app', 'topics']" routerLinkActive="router-link-active" (click)="toggleMobileNav()"
            >Topics</a
          >
        </li>
        <li class="mobile-nav__page">
          <a [routerLink]="['/app', 'card-manager']" routerLinkActive="router-link-active" (click)="toggleMobileNav()"
            >Card Manager</a
          >
        </li>
        <li class="mobile-nav__page">
          <app-auth-sign-out></app-auth-sign-out>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
