// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$black: #0b1112;
$purple: #6f87bc;
$red: #bc6fad;
$blue: #6fadbc;
$green: #6fbca4;

// Colors
$colorMap: (
  red-light: rgba($red, 0.3),
  red: $red,
  green-light: rgba($green, 0.4),
  green: $green,
  shadow-dark: #3b4449,
  shadow-light: #95c0d8,
  blue-green-line: rgba(#7e9a9a, 0.4),
  blue-light: rgba($blue, 0.2),
  blue-light-2: rgba($blue, 0.1),
  blue: $blue,
  purple-light: rgba($purple, 0.5),
  purple: $purple,
  black: $black,
  gray-light: rgba($black, 0.3),
  gray: rgba($black, 0.4),
  white: #ffffff,
  white-2: #f0f6f8
);

/// Copy text color
/// @type Color
$text-color: map-get($colorMap, black) !default;

/// Main brand color
/// @type Color
$brand-color: getColor(blue) !default;

// Typography
$text-font-stack: 'Source Sans Pro', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial',
  sans-serif !default;

$font-weights: (
  thin: 200,
  normal: 300,
  semibold: 600,
  bold: 700
);

$base-font-size: 1.8rem;

$font-sizes: (
  sm-2: calc(#{$base-font-size} * 0.5),
  sm: calc(#{$base-font-size} * 0.75),
  md: #{$base-font-size},
  lg: calc(#{$base-font-size} * 1.5),
  lg-2: calc(#{$base-font-size} * 2),
  lg-3: calc(#{$base-font-size} * 3)
);

$text-default-font-weight: map-get($font-weights, normal);

// Breakpoints
$breakpoints: (
  tablet: (
    min: 768px,
    max: 1023px
  ),
  desktop: 1024px
);

$base-spacing-size: 1rem;

$spacingMap: (
  sm-2: calc(#{$base-spacing-size} * 0.25),
  sm: calc(#{$base-spacing-size} * 0.5),
  md: #{$base-spacing-size},
  lg: #{$base-spacing-size * 2},
  lg-2: #{$base-spacing-size * 3},
  lg-3: #{$base-spacing-size * 4}
);
