<ng-container *ngIf="card && !deleted">
  <td>{{ card.topicName }}</td>
  <td>
    <textarea #frontEditInput [readonly]="viewMode"
      >{{ card.front }}
        </textarea
    >
  </td>
  <td class="card-mgmt-back">
    <textarea #backEditInput [readonly]="viewMode"
      >{{ card.back }}
        </textarea
    >
  </td>
  <td>{{ card.nextStudy }}</td>
  <td>
    <button *ngIf="viewMode; else editMode" alBtn type="secondary" size="sm" (click)="startEditMode()">
      Edit
    </button>

    <ng-template #editMode>
      <button
        type="secondary"
        alBtn
        size="sm"
        (click)="saveChanges(card.id, frontEditInput.value, backEditInput.value)"
      >
        Save
      </button>
    </ng-template>
  </td>
  <td><button alBtn size="sm" (click)="deleteCard(card.id)">Delete</button></td>
</ng-container>
