<div class="card-num" *ngIf="cards.length > 0">
  <h3 class="card-num__heading">Cards</h3>
  <div class="card-num__text">Card #{{ currentCardIndex + 1 }} of {{ cards.length }}</div>
</div>
<div *ngIf="cards.length > 0" #cardResultInfo (blur)="clearCardResult()" class="card-result-info">
  {{ resultCard && resultCard.front }}
</div>

<div *ngIf="cards.length > 0" class="card-results" (mouseleave)="clearCardResult()">
  <div
    (mouseover)="showInfo($event, i)"
    class="card-results__result"
    *ngFor="let card of cards; let i = index"
    [ngClass]="'card-results__result--' + card.result"
  >
    <span class="card-results__result__number">
      {{ i + 1 }}
    </span>
  </div>
</div>

<div class="errors">
  <al-alert [messages]="errors" type="error"></al-alert>
</div>

<div *ngIf="cards.length === 0">
  <div class="no-cards__icon">
    <i class="fas fa-couch"></i>
  </div>
  <p class="no-cards__message">
    You're all up to date.<br />No cards to study at the moment. <br />Come back again tomorrow.
  </p>
</div>

<div class="flash-card" *ngIf="cards.length > 0">
  <div class="flash-card__face flash-card__face--front {{ showBack ? 'hide' : 'show' }}">
    <h3 class="flash-card__face--front-topic">{{ currentCard.topicName }}</h3>
    <p class="flash-card__face__question flash-card__face__question--front">{{ currentCard.front }}</p>
    <div class="flash-card__face__button-container">
      <button class="flash-card__face__button" alBtn="secondary" size="large" (click)="showAnswer()">
        Show Answer
      </button>
    </div>
  </div>
  <div class="flash-card__face flash-card__face--back {{ showBack ? 'show' : 'hide' }} ">
    <h3 class="flash-card__face--front-topic {{ (saved || continue) && 'hide-back' }}">{{ currentCard.topicName }}</h3>
    <p class="flash-card__face__question {{ (saved || continue) && 'hide-back' }}">{{ currentCard.front }}</p>
    <div class="flash-card__face__answer {{ (saved || continue) && 'hide-back' }}">
      <h3>Answer:</h3>
      <pre class="flash-card__face__answer__text">{{ currentCard.back }}</pre>
    </div>
    <div class="flash-card__face__result-container {{ (saved || continue) && 'hide-back' }}" *ngIf="!saved">
      <p class="flash-card__face__result--question">How difficult was it?</p>
      <button
        class="flash-card__face__result flash-card__face__result--hard"
        alBtn="alert"
        size="large"
        (click)="harderCard()"
      >
        Hard
      </button>
      <button
        class="flash-card__face__result flash-card__face__result--easy"
        alBtn="tertiary"
        size="large"
        (click)="easierCard()"
      >
        Easy
      </button>
    </div>
    <div class="next-study-if-easy" *ngIf="scheduledStudy">
      Next study if Easy:
      <span class="next-study-if-easy__date">
        {{ currentCard.potentialNextStudy }}
      </span>
    </div>
    <div class="saved-block" *ngIf="saved && showBack">
      <p class="saved-alert">Saved!!</p>

      <div *ngIf="saved && this.hardCards.length === 0 && last">
        <div class="no-cards__icon">
          <i class="fas fa-couch"></i>
        </div>
        <p class="no-cards__message">
          You're all up to date.<br />No cards to study at the moment. <br />Come back again tomorrow.
        </p>
      </div>

      <div *ngIf="!last; else continuePractice">
        <button alBtn="secondary" size="large" (click)="showNext()">
          Go to next
        </button>
      </div>

      <div class="to-dashboard" *ngIf="last && showBack">
        <a alLink [underline]="true" [routerLink]="['/app', 'dashboard']">Go to Dashboard</a>
      </div>
    </div>
  </div>
</div>

<ng-template #continuePractice>
  <div *ngIf="last && hardCards.length > 0">
    <div>
      <button alBtn="secondary" size="large" (click)="startHardCards()">
        Practice Hard Cards?
      </button>
    </div>
  </div>
</ng-template>
