@import 'framework.scss';

.flash-card {
  border-radius: 0.5rem;
  display: inline-block;
  width: 90%;
  min-height: 50vh;

  @include media(tablet) {
    width: 60%;
    min-height: 40vh;
  }

  background-color: getColor(white);
  margin: 0 auto;
  position: relative;

  &__face {
    position: absolute;
    top: 0;
    left: 0;
    background-color: getColor(white-3);
    border: 1px solid getColor(blue-green-line);
    border-radius: 0.5rem;
    width: 100%;
    min-height: 100%;
    transition: transform 0.5s ease-in;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &--front-topic {
      @include margin(lg, t);
      font-size: 2.2rem;
      font-family: Coda;
      color: getColor(blue);
    }

    &__question-container {
      font-size: 3rem;
      transform: translateY(5rem);
    }

    &__question {
      text-align: center;
      margin: 1rem 0;

      font-size: 2rem;
    }

    &__answer {
      text-align: center;
      width: 90%;
      margin: 0 auto;

      h3 {
        font-size: 1.8rem;
        text-align: left;
        font-weight: bold;
        border-top: 1px solid getColor(blue-green-line);
        @include padding(md, t);
        @include margin(sm, b);
      }

      &__text {
        text-align: left;
        @include margin(sm, b);
        white-space: pre-line;
      }
    }

    &__result-container {
      display: inline-block;
      text-align: center;
    }

    &__result {
      display: inline-block;

      &--question {
        @include font-weight(semibold);
        @include padding(sm, b);
        @include padding(lg, t);
      }

      &--hard {
        @include margin(sm, r);
      }
    }

    &--front {
      transform: rotateY(0deg);

      &.hide {
        transform: rotateY(180deg);
      }

      h3 {
        flex-shrink: 1;
      }

      p {
        flex-shrink: 1;
      }

      .flash-card__face__button-container {
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @include margin(md, b);

        .flash-card__face__button {
          @include margin(lg, b);
        }
      }
    }

    &--back {
      text-align: left;
      transform: rotateY(-180deg);

      &.show {
        transform: rotateY(0);
      }

      .flash-card__face--front-topic {
        flex-shrink: 1;
      }

      .flash-card__face__question {
        flex-shrink: 1;
      }

      .flash-card__face__answer {
        flex-grow: 3;
      }

      .flash-card__face__result-container {
        flex-shrink: 1;
        @include margin(md, b);
      }
    }
  }
}

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-results {
  margin: 0 auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
  @include margin(md, b);
  // @include padding(lg, b);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 90%;

  @include media(tablet) {
    max-width: 60%;
  }

  &__result {
    display: inline-block;
    border: 1px solid getColor(white);

    @include padding(md);
    cursor: pointer;

    &--hard {
      background-color: getColor(red);
    }

    &--easy {
      background-color: getColor(green);
    }

    &--pending {
      background-color: getColor(gray-light-2);
    }

    &--current,
    &:hover {
      background-color: getColor(purple);
    }
  }
}

.hide-back {
  display: none;
}

.saved-block {
  text-align: center;

  .saved-alert {
    font-size: 2.2rem;
    color: getColor(black);
    font-weight: semibold;
    @include margin(lg, tb);
  }

  .to-dashboard {
    @include margin(lg, tb);
  }
}

.no-cards {
  &__icon {
    @include font-size(lg-3);
  }

  &__message {
    @include font-size(md);

    @include media(tablet) {
      @include font-size(lg);
    }
  }
}

.card-result-info {
  @include margin(md, t);
  position: fixed;
  transform: translateX(-30%);
  background-color: getColor(white-2);
  @include padding(md);
  z-index: 9000;
  opacity: 0;
  transition: opacity 300ms ease-in;

  &.show-card-result {
    opacity: 1;
  }

  // border: 1px solid getColor(blue-green-line);
  border-radius: 0.5rem;

  // &::before {
  //   content: '';
  //   display: block;
  //   transform: translateY(-2.2rem);
  //   border-left: 1rem solid transparent;
  //   border-right: 1rem solid transparent;
  //   border-bottom: 1rem solid getColor(white-2);
  // }
}

.card-num {
  display: flex;
  justify-content: space-between;
  @include margin(md, tb);
  color: getColor(purple);
  width: 90%;

  @include media(tablet) {
    width: 60%;
  }

  &__heading {
    display: inline-block;
    @include margin(md, l);
  }

  &__text {
    // display: inline-block;
    // @include margin(sm, r);
    // width: 100%;
    white-space: pre;
  }
}

.next-study-if-easy {
  @include margin(md, bt);
  @include padding(lg, bt);
  border-top: 1px solid getColor(blue-green-line);
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;

  &__date {
    display: block;
    font-weight: normal;
  }
}
