<nav class="nav">
  <div class="nav-displayed">
    <h1 class="nav-displayed__header">Spaced Repetition</h1>
    <div>
      <a class="nav-displayed__login" [routerLink]="['/signin']" routerLinkActive="router-link-active">Login</a>
      <label class="nav-displayed__toggle-label" for="nav-toggler"><i class="fas fa-bars"></i></label>
    </div>
  </div>
  <input id="nav-toggler" class="nav-toggler" type="checkbox" />
  <div class="nav-list-container">
    <label class="nav-list-close" for="nav-toggler"><i class="fas fa-chevron-right"></i></label>
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" [routerLink]="['/info']" routerLinkActive="router-link-active">Info</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" [routerLink]="['/signin']" routerLinkActive="router-link-active">Login</a>
      </li>
    </ul>
  </div>
</nav>
