@import '../tokens';
@import '../utils';

@import './fonts/_fonts.scss';

.al-ttrunc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include generate($font-sizes, tf, font-size);

@include generateWithBase($measures, tm, max-width);

@include generate($line-heights, tlh, line-height);

@include generateWithBase($tracking, ttr, letter-spacing);

@include generate($text-transform, ttt, text-transform);

@include generate($font-weights, tfw, font-weight);

@include generate($font-styles, tfs, font-style);

@include generate($vertical-aligns, tv, vertical-align);

@include generate($text-aligns, tta, text-align);

@include generate($text-decorations, ttd, text-decoration);

.al-tff-h {
  @include header-font();
}

.al-tff-t {
  @include text-font();
}
