@import '../../../../styles/framework.scss';

.topics {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  width: 90%;

  @include media(tablet) {
    width: 80%;
  }

  @include media(desktop) {
    width: 50%;
  }

  .errors,
  .messages {
    margin: auto;
    @include margin(md, tb);
  }

  .add-topic {
    .add-topic-form {
      display: flex;
      justify-content: space-around;
      align-items: bottom;

      width: 100%;

      &__name {
        @include padding(sm);
        @include font-size(sm);
        flex-basis: 60%;
        border: none;
        border-bottom: 0.1rem solid getColor(gray);

        @include media(tablet) {
          @include font-size(lg);
          flex-basis: 70%;
        }
      }

      &__button {
        @include font-size(sm-2);
        flex-basis: 30%;

        @include media(tablet) {
          @include font-size(sm);
          flex-basis: 20%;
        }
      }
    }
  }

  .topics-container {
    @include font-size(md);
    text-align: left;
    @include padding(md, tb);

    .topic-header {
      @include font-weight(semibold);
    }

    .topic {
      @include margin(md, tr);
      @include padding(md, b);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem dotted getColor(gray-light);

      @include media(tablet) {
        @include font-size(lg);
      }

      &__button {
        @include media(tablet) {
          @include font-size(md);
        }
      }
    }
  }

  .no-topics {
    &__icon {
      @include font-size(lg-3);
    }

    &__message {
      @include font-size(md);

      @include media(tablet) {
        @include font-size(lg);
      }
    }
  }
}
