<div class="topics">
  <div class="errors">
    <al-alert [messages]="errors" type="error"></al-alert>
  </div>
  <div class="messages">
    <al-alert [messages]="messages" type="success"></al-alert>
  </div>
  <div class="add-topic">
    <form class="add-topic-form" (submit)="createTopic($event, topicName.value)">
      <input type="text" placeholder="Topic Name" class="add-topic-form__name" #topicName />
      <button alBtn="secondary" size="large" class="add-topic-form__button">Create Topic</button>
    </form>
  </div>

  <div *ngIf="loading; else topicsList">
    <app-loading></app-loading>
  </div>

  <ng-template #topicsList>
    <div class="topics-container" *ngIf="topics.length > 0; else noTopics">
      <h3 class="topic-header">Topics</h3>
      <p class="topics-instruction">
        Select <span class="al-semibold">View Cards </span>to view cards in Card Manager for that topic.
      </p>
      <p class="topics-instruction">
        Select <span class="al-semibold">Study Cards </span>to Study all the cards for that topic.
      </p>
      <div class="topic" *ngFor="let topic of topics">
        <p class="topic__name">{{ topic.name }}</p>
        <div>
          <a
            class="topic__button topic__button--eye"
            alBtn="tertiary"
            size="small"
            href="/app/card-manager?topicId={{ topic.id }}"
            ><i class="far fa-eye"></i> View Cards</a
          >
          <a class="topic__button" alBtn="secondary" size="small" href="/app/study?topicId={{ topic.id }}">
            <i class="fas fa-book-open"></i>
            Study Cards</a
          >
        </div>
      </div>
    </div>

    <ng-template #noTopics>
      <div class="no-topics">
        <div class="no-topics__icon">
          <i class="fas fa-pen-alt"></i>
        </div>
        <p class="no-topics__message">
          You currently have no topics. Add a topic now!
        </p>
        <p class="no-topics__message">
          If you already have topics but you don't see them here, please check your connectivity or try again later.
        </p>
      </div>
    </ng-template>
  </ng-template>
</div>
