.card-management {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
  overflow-x: scroll;

  th,
  td {
    padding: 1rem;

    &.card-mgmt-topic {
      width: 10%;
    }

    &.card-mgmt-front {
      width: 20%;
    }

    &.card-mgmt-back {
      width: 30%;
    }

    &.card-mgmt-next-study {
      width: 20%;
    }

    &.card-mgmt-next-actions {
      width: 20%;
    }
  }

  th {
    font-weight: bold;
  }

  td.card-mgmt-back {
    white-space: normal;
    overflow: hidden;
  }

  tr {
    height: 20px;
  }
}
