<h3>Cards</h3>

<app-spinner *ngIf="loading; else showCardManagement"></app-spinner>

<ng-template #showCardManagement>
  <app-add-card></app-add-card>
  <div>
    <table class="card-management">
      <tr>
        <th class="card-mgmt-topic">Topic</th>
        <th class="card-mgmt-front">Front</th>
        <th class="card-mgmt-back">Back</th>
        <th class="card-mgmt-next-study">Next Study</th>
        <th class="card-mgmt-next-actions" colspan="2">Actions</th>
      </tr>
      <tbody>
        <ng-container *ngFor="let card of cards">
          <tr app-card-management-item [card]="card"></tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>
