<h3>Cards</h3>

<app-spinner *ngIf="loading; else showCardManagement"></app-spinner>

<ng-template #showCardManagement>
  <div>
    <table class="card-management">
      <tr>
        <th>Topic</th>
        <th>Front</th>
        <th>Back</th>
        <th>Next Study</th>
        <th colspan="2">Actions</th>
      </tr>
      <tbody>
        <ng-container *ngFor="let card of cards">
          <tr app-card-management-item [card]="card"></tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>
