<div class="add-card">
  <div alBtn="plain" (click)="closeCard()" class="close fas fa-times"></div>
  <h2>Create a new Card</h2>
  <form class="add-card__form" [formGroup]="addCardForm" (submit)="addNewCard()">
    <div class="errors">
      <al-alert [messages]="errors" type="error"></al-alert>
    </div>
    <div class="messages">
      <al-alert [messages]="messages" type="success"></al-alert>
    </div>
    <div class="errors">
      <ng-container *ngIf="addCardForm.status === 'INVALID' && addCardForm.touched">
        <al-alert [messages]="['Front, back, and topic required']" type="error"></al-alert>
      </ng-container>
    </div>
    <input
      #front
      class="add-card__front"
      formControlName="front"
      name="front"
      placeholder="Ex. What is life? (Front/Question)"
    />
    <textarea
      #back
      rows="4"
      class="add-card__back"
      formControlName="back"
      name="back"
      placeholder="Ex. 42 is the meaning of life according to Hitchikers Guide to the Galaxy (Back/Answer)"
    ></textarea>

    <app-topic-select (changeTopic)="changeTopic($event)"></app-topic-select>

    <div>
      <input type="checkbox" formControlName="reverseCard" />
      <label>Create Reverse Card</label>
    </div>

    <button
      class="add-card__submit"
      [disabled]="addCardForm.status === 'INVALID'"
      alBtn="primary"
      size="fit"
      type="secondary"
    >
      Create Card
    </button>
  </form>
  <div (click)="closeCard()" alBtn="plain" class="close-modal-button-bottom">
    Close Modal
  </div>
</div>
