<div *ngIf="signedIn" id="main">
  <mol-nav>
    <mol-nav-header class="nav-header">Spaced Repetition</mol-nav-header>
    <mol-nav-item class="nav-item"
      ><a class="nav-item" routerLink="/home" routerLinkActive="active">Home</a></mol-nav-item
    >
    <mol-nav-item class="nav-item"
      ><a class="nav-item" routerLink="/topics" routerLinkActive="active">Topics</a></mol-nav-item
    >
    <mol-nav-item>
      <amplify-authenticator></amplify-authenticator>
    </mol-nav-item>
  </mol-nav>
  <router-outlet></router-outlet>
</div>
<div *ngIf="!signedIn" id="main">
  <mol-nav>
    <mol-nav-header class="nav-header">Spaced Repetition</mol-nav-header>
    <mol-nav-item class="nav-item"
      ><a class="nav-item" routerLink="/home" routerLinkActive="active">Home</a></mol-nav-item
    >
  </mol-nav>
  <amplify-authenticator></amplify-authenticator>
</div>
