<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item nav__header-item">
      <h1>Spaced Repetition</h1>
    </li>
    <li class="nav__item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    </li>
    <li class="nav__item">
      <a [routerLink]="['/support']" routerLinkActive="router-link-active">Support</a>
    </li>
    <li class="nav__item">
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
    </li>
  </ul>
  <button>Show</button>
</nav>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <p class="footer__site-author">Site made by Aldrin Jerome Almacin</p>
</footer>
