// Nav component
@import '../styles/framework.scss';

.nav {
  vertical-align: middle;
  line-height: 1;
  position: relative;

  &__displayed {
    background-image: linear-gradient(to right, rgba($secondary, 0.4), rgba($secondary, 0.9));
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__login {
      @include padding(md, r);
    }
  }

  &__header {
    display: inline-block;
    @include padding(lg, tbl);
  }

  &__toggle-label {
    display: inline-block;
    @include padding(lg, r);
    text-align: center;
    cursor: pointer;
  }

  &__toggle {
    display: none;

    &:checked+.nav__list-container .nav__list {
      opacity: 1;
      visibility: visible;
      height: 10rem;
    }
  }

  &__list {
    overflow: hidden;
    background-color: getColor(white-2);
    text-align: center;

    display: block;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    backface-visibility: hidden;
  }

  &__item {
    @include padding(sm);

    a {
      &.router-link-active {

        &:link,
        &:visited {
          @include font-weight(semibold);
        }
      }

      &:link,
      &:visited {
        color: getColor(blue-dark);
      }
    }

    transition: all .3s ease-in;

    &:hover {
      a {
        color: getColor(white);
      }

      background-color: getColor(blue);
      cursor: pointer;
    }
  }
}
