@import '../../../styles/framework.scss';

:host {
  display: inline-block;

  &.al-size-big {
    .header-img {
      width: 10rem;
      height: 10rem;
    }

    .main-logo-text {
      @include font-size(lg);
    }
  }

  &.al-size-medium {
    .header-img {
      width: 5rem;
      height: 5rem;
    }

    .main-logo-text {
      @include font-size(md);
    }
  }

  .main-logo {
    &:hover {
      cursor: pointer;
    }

    display: flex;
    align-items: center;

    .main-logo-text {
      @include margin(md, l);
      @include font-weight(bold);
      line-height: 1.3;
      background-image: linear-gradient(to right bottom, rgba(getColor(blue), 0.7) 25%, getColor(blue-dark));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}
