@import 'framework.scss';

.heading {
  @include font-size(lg);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    @include font-size(sm);
  }
}

input {
  @include font-size(lg);
}
