.card-management {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
  overflow-x: scroll;

  border-spacing: 0rem;
  // border: 1px solid #39632f;
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;

  tr {
    border: 1px solid #39632f;
    min-height: 20px;
    width: 100%;
  }
}

:host ::ng-deep {
  th,
  td {
    padding: 1rem;

    border: 1px solid #39632f;

    &.card-mgmt-topic {
      width: 10%;
    }

    &.card-mgmt-front {
      width: 20%;
    }

    &.card-mgmt-back {
      width: 30%;
    }

    &.card-mgmt-next-study {
      width: 20%;
    }

    &.card-mgmt-next-actions {
      width: 20%;
    }
  }

  th {
    font-weight: bold;
    border: 1px solid #39632f;
  }

  td.card-mgmt-back {
    white-space: normal;
    overflow: hidden;
  }
}
