<div class="al-lf al-lf-fd-c al-lf-ai-str">
  <button class="al-lw-100 al-tta-c" alBtn size="sm" type="tertiary" (click)="toggleAddCard()">
    <span class="al-tf-lg al-lm-r-lg">Add Card</span>
    <span class="fa {{ isShowForm ? 'fa-times' : 'fa-plus' }}"></span>
  </button>
  <form
    [formGroup]="addCardForm"
    [@slideForm]="isShowForm ? 'open' : 'close'"
    class="al-lf al-lf-fd-c new-topic-form al-sb-tertiary-dark-b al-lm-t-sm al-lp-b-sm"
    (ngSubmit)="addNewCard()"
  >
    <input
      formControlName="front"
      class="al-sb-tertiary-dark al-lp-vs al-lm-b-sm al-tf-lg"
      name="front"
      placeholder="What is life? (Front/Question)"
    />
    <textarea
      rows="4"
      formControlName="back"
      class="al-sb-tertiary-dark al-lp-vs al-lm-b-sm al-tf-lg"
      name="back"
      placeholder="42 is the meaning of life according to Hitchikers Guide to the Galaxy (Back/Answer)"
    ></textarea>

    <select formControlName="topicId" class="topic-selection" #topicId name="topicId">
      <option value="">Select Topic</option>
      <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</option>
    </select>

    <p class="alert" *ngIf="addCardForm.status === 'INVALID'">Front, back, and topic required</p>

    <button
      type="submit"
      [disabled]="addCardForm.status === 'INVALID'"
      class="new-card-btn"
      alBtn
      size="lg"
      type="tertiary"
    >
      Create Card
    </button>
  </form>
</div>
