@import 'framework.scss';

.alert-container {
  &.alert-type-error {
    background-color: getColor(red-light);

    .alert {
      color: getColor(red);
    }
  }

  &.alert-type-success {
    background-color: getColor(green-light);

    .alert {
      color: getColor(green);
    }
  }

  @include font-size(md);
  @include padding(md);

  .alert {
    &:not(:last-child) {
      @include margin(md, b);
    }

    &__msg {
      @include margin(sm, l);
    }
  }
}
