<div class="sign-in-container">
  <div class="logo">
    <app-main-logo size="big"></app-main-logo>
  </div>
  <form (submit)="signIn($event, email.value, password.value)" class="form sign-in">
    <div class="errors">
      <al-alert [messages]="errors" type="error"></al-alert>
    </div>
    <input
      placeholder="Email"
      #email
      id="email"
      type="email"
      name="email"
      class="form-control sign-in__email"
      required
    />

    <input
      placeholder="Password"
      #password
      id="password"
      type="password"
      name="password"
      class="form-control sign-in__password"
      required
    />

    <button alBtn="primary" class="form-control sign-in__submit">Login</button>
    <p>
      Don't have an account?
      <a alLink="animated" [underline]="true" [routerLink]="['/auth', 'signup']">Click here to sign up now.</a>
    </p>
  </form>
</div>
