<div class="dashboard">
  <div class="panel panel--study">
    <h2 class="panel__header">
      Study
    </h2>
    <div></div>
    <div class="messages">
      <p class="message">Topics are the different subjects you are studying.</p>

      <p class="message message--example">Example: Spanish, Physics, Math, etc.</p>

      <p class="message">Go to topics page to view, manage, or study a topic.</p>
    </div>
    <a alBtn="primary" size="large" href="#" class="panel__button">Study now</a>
  </div>
  <div class="panel panel--topic">
    <h2 class="panel__header">
      Topics
    </h2>
    <div></div>
    <div class="messages">
      <p class="message">Topics are the different subjects you are studying.</p>

      <p class="message message--example">Example: Spanish, Physics, Math, etc.</p>

      <p class="message">Go to topics page to view, manage, or study a topic.</p>
    </div>
    <a alBtn="primary" size="large" href="#" class="panel__button">Go to Topics</a>
  </div>
  <div class="panel panel--topic">
    <h2 class="panel__header">
      Card Manager
    </h2>
    <div></div>
    <div class="messages">
      <p class="message">Topics are the different subjects you are studying.</p>

      <p class="message message--example">Example: Spanish, Physics, Math, etc.</p>

      <p class="message">Go to topics page to view, manage, or study a topic.</p>
    </div>
    <a alBtn="primary" size="large" href="#" class="panel__button">Go to Topics</a>
  </div>
  <div class="panel panel--topic">
    <h2 class="panel__header">
      Profile
    </h2>
    <div></div>
    <div class="messages">
      <p class="message">Topics are the different subjects you are studying.</p>

      <p class="message message--example">Example: Spanish, Physics, Math, etc.</p>

      <p class="message">Go to topics page to view, manage, or study a topic.</p>
    </div>
    <a alBtn="primary" size="large" href="#" class="panel__button">Go to Topics</a>
  </div>
</div>
