@import '../../../styles/framework.scss';

.dashboard {
  @include media(tablet) {
    @include padding(lg);
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

  .panel {
    flex-basis: 98%;
    @include font-size(sm);
    @include padding(md);
    @include padding(lg-2, b);
    @include margin(md);

    @include media(tablet) {
      @include padding(lg-2);
      @include margin(lg);

      @include font-size(lg);
    }

    @include media(desktop) {
      flex-basis: 45%;
    }

    text-align: center;

    border: 0.1rem solid rgba(getColor(black), 0.3);
    border-radius: 0.4rem;
    box-shadow: 0.5rem 0.5rem 10rem rgba(getColor(black), 0.2);

    &__header {
      @include font-size(lg);

      @include media(tablet) {
        @include font-size(lg-2);
      }

      @include margin(md);
    }

    .messages {
      @include margin(lg, t);
      @include margin(lg, b);

      @include media(tablet) {
        @include margin(lg-3, b);
      }

      @include font-size(sm);

      @include media(tablet) {
        @include font-size(md);
      }

      .message {
        &:not(:last-child) {
          @include margin(md, b);
        }

        &--example {
          @include font-size(sm-2);
          @include media(tablet) {
            @include font-size(sm);
          }
          @include font-weight(semibold);
        }
      }
    }

    &__button {
      @include margin(md);
    }
  }
}
