<p>Hello world</p>
<!-- <div class="main-info">
  <div class="main-text">
    <h1>
      <span class="main-text-primary">Spaced Repetition</span>
      <span class="main-text-sub">
        Spaced Repetition is a learning strategy which ensures that what you are studying sticks into your long term
        memory.
      </span>
    </h1>
    <a href="/study" class="cta btn">Study now</a>
  </div>
</div>
<div class="al-lp-sm">
  <al-img-jumbotron
    class="jumbotron"
    heading="Welcome to Spaced Repetition"
    imgSrc="/assets/studying.jpg"
    text="Spaced Repetition is a learning strategy which ensures that what you are studying sticks into your long term memory."
    actionText="Start"
    actionUrl="/study"
  >
  </al-img-jumbotron>

  <div class="dashboard-info-cards">
    <div class="dashboard-types-item al-lf al-lf-fd-c al-lm-t-md al-lf-jc-sb">
      <al-info-card heading="Topics">
        <p>Topics are the different subjects that you want to study.</p>
        <a class="al-tta-c" alBtn href="/topics" type="secondary" size="sm"
          ><span class="fa fa-eye"></span> View Topics</a
        >
      </al-info-card>
    </div>

    <div class="dashboard-types-item al-lf al-lf-fd-c al-lm-t-md al-lf-jc-sb">
      <al-info-card heading="Cards">
        <p>Cards are the individual knowledge or concepts that you want review.</p>
        <a class="al-tta-c" alBtn href="/cards" type="secondary" size="sm"
          ><span class="fa fa-eye"></span> View Cards</a
        >
      </al-info-card>
    </div>
  </div>
</div> -->
