/* You can add global styles to this file, and also import other style files */
// @import '~aws-amplify-angular/Theme.css';
@import '~molly-component-library/molly.dist.css';

html {
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.auth {
  justify-content: center;
  flex-basis: 50%;
}

.amplify-component {
  display: flex;
  flex-direction: column;

  .amplify-authenticator {
    .amplify-form-container {
      display: flex;

      .amplify-form-body {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        align-items: center;

        .amplify-form-header {
          font-family: 'Roboto Slab';
          font-size: 1.25rem;
        }
      }
    }

    .amplify-greeting-text {
      display: none;
    }

    .amplify-greeting-sign-out {
      font-family: 'Questrial';
      color: rgb(86, 65, 46);
      text-decoration: inherit;
      border-bottom: 1px solid #cce8ea;
      padding-bottom: calc(.5 * 1rem);
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid #6492a0;
        padding-bottom: calc(0.5 * 1rem);
      }
    }
  }
}
