/* You can add global styles to this file, and also import other style files */
@import '~aws-amplify-angular/Theme.css';
@import '~molly-component-library/molly.dist.css';

html {
  width: 75%;
  margin: 0 auto;
}

body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#main {
  margin: 10px auto;
}

a {
  text-decoration: none;
}
