/* You can add global styles to this file, and also import other style files */
// @import '~aws-amplify-angular/Theme.css';
@import '~molly-component-library/molly.dist.css';

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body,
app-root {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #35281c;

  p {
    color: #fcfcfc;
  }
}

a {
  text-decoration: none;
}

.auth {
  justify-content: center;
  flex-basis: 50%;
}

.amplify-component {
  display: flex;
  flex-direction: column;

  .amplify-authenticator {
    text-align: center;
    .amplify-form-container {
      display: flex;

      .amplify-form-body {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        align-items: center;

        .amplify-form-header {
          font-family: 'Roboto Slab';
          font-size: 1.25rem;
        }

        .amplify-input-label {
          display: none;
        }

        .amplify-form-row {
          width: 100%;

          .amplify-select-phone-country {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #6492a0;
            background-image: url('./assets/white-arrow.svg');
            background-repeat: no-repeat;
            width: 25%;
            height: 30px;
            border-radius: 0px;
            background-size: 3%;
            background-position-y: 50%;
            background-position-x: 98%;
            font-size: 1rem;
            color: #fcfcfc;
            padding: 0.4rem;
          }
        }

        .amplify-form-input {
          width: 25%;
          border: 0;
          border-bottom: 1px solid #56412e;
          font-size: 1rem;
          margin: 1rem auto;
          padding: 0.4rem;
        }

        .amplify-signin-username,
        .amplify-signin-password {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 0;
          .amplify-form-input {
            width: 25%;
          }
        }

        .amplify-form-action {
          display: block;
        }

        .amplify-form-link {
          color: #5d7f8c;
          cursor: pointer;
        }

        .amplify-form-actions {
          width: 25%;
        }

        .amplify-form-button {
          display: flex;
          width: 100%;
          text-align: center;
          justify-content: center;
          background-color: #6fadbc;
          color: #fcfcfc;
          padding: 0.4rem;
          margin: 0.6rem;
          font-size: 1rem;
        }

        .amplify-form-signup {
          text-align: center;
        }
      }
    }

    .amplify-greeting-text {
      display: none;
    }

    .amplify-greeting-sign-out {
      font-family: 'Questrial';
      color: #fcfcfc;
      text-decoration: inherit;
      padding-bottom: 3px;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid #cce8ea;
        padding-bottom: 3px;
      }
    }
  }
}
