<nav class="nav">
  <div class="nav-displayed">
    <h1 class="nav-displayed__header">
      <app-main-logo></app-main-logo>
    </h1>
    <div class="app-links">
      <div class="app-link">
        <a alLink class="nav-list__link" [routerLink]="['/app', 'home']" routerLinkActive="router-link-active">App</a>
      </div>
      <div class="app-link">
        <a alLink class="nav-list__link" [routerLink]="['/app', 'study']" routerLinkActive="router-link-active"
          >Study Now</a
        >
      </div>
      <div *ngIf="loggedIn; else signIn" class="nav-sign-out">
        <app-auth-sign-out></app-auth-sign-out>
      </div>
      <ng-template #signIn>
        <a alLink class="nav-displayed__login" [routerLink]="['/auth', 'signin']">Login</a>
      </ng-template>
      <!-- <label class="nav-displayed__toggle-label" for="nav-toggler"><i class="fas fa-bars"></i></label> -->
    </div>
  </div>
  <!-- <input id="nav-toggler" class="nav-toggler" type="checkbox" />
  <div class="nav-list-container">
    <label class="nav-list-close" for="nav-toggler"><i class="fas fa-chevron-right"></i></label>
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__link" [routerLink]="['/home', 'landing']" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" [routerLink]="['/app', 'home']" routerLinkActive="router-link-active">App</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" [routerLink]="['/auth', 'signin']" routerLinkActive="router-link-active">Login</a>
      </li>
    </ul>
  </div> -->
</nav>
