<nav class="nav">
  <div class="nav-displayed">
    <h1 class="nav-displayed__header">
      <app-main-logo></app-main-logo>
    </h1>
    <div class="app-links">
      <div class="app-link">
        <a alLink class="nav-list__link" [routerLink]="['/app', 'home']" routerLinkActive="router-link-active">App</a>
      </div>
      <div class="app-link">
        <a alLink class="nav-list__link" [routerLink]="['/app', 'study']" routerLinkActive="router-link-active"
          >Study Now</a
        >
      </div>
      <div class="app-link" *ngIf="!loggedIn">
        <a alLink class="nav-list__link" [routerLink]="['/auth', 'signup']">Register</a>
      </div>
      <div *ngIf="loggedIn; else signIn" class="nav-sign-out">
        <app-auth-sign-out></app-auth-sign-out>
      </div>
      <ng-template #signIn>
        <a alLink class="nav-displayed__login" [routerLink]="['/auth', 'signin']">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
