<div class="mol-lp-sm">
  <h2>
    Welcome to Spaced Repetition
  </h2>

  <p>
    Spaced Repetition is a learning strategy which ensures that what you are studying sticks into your long term memory.
    It's very easy to get started and here are the main parts.
  </p>

  <div class="mol-lf mol-lf-fd-c">
    <h3>Topics</h3>
    <p>Topics are the different subjects that you want to study.</p>
    <a class="mol-tta-c" molBtn href="/topics" type="primary"><span class="fa fa-eye"></span> View Topics</a>
  </div>
</div>
