@import '../../styles/framework.scss';

.banner {
  background-image: linear-gradient(to bottom right, rgba(getColor(blue-dark), 0.8), rgba(getColor(blue-dark), 0.9)), url('../../assets/studying.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
  margin-top: 6rem;

  @include media(desktop) {
    height: 85vh;
  }

  position: relative;
  z-index: 1;

  .banner-message {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__header {
      color: rgba(getColor(white-2), 0.9);
      padding: 0;
      margin: 0;
      text-shadow: 1rem 1.5rem 2rem rgba(getColor(blue), 0.5);
      display: inline-block;
      line-height: 1;
      animation: dropIn .3s;

      @include font-size(lg);

      @include media(tablet) {
        @include font-size(lg-2);
      }

      @include media(desktop) {
        @include font-size(lg-3);
      }

      @include font-weight(bold);
      text-transform: uppercase;
      transition: all .2s;
      transform-origin: bottom;


      &:hover {
        transform: scale(1.1);
      }
    }

    &__slogan {
      display: inline-block;
      @include font-size(sm);

      @include media(tablet) {
        @include font-size(md);
      }

      @include media(desktop) {
        @include font-size(lg);
      }

      color: getColor(white-2);
    }

    &__slogan-text {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 2s 0.2s;
      animation-fill-mode: backwards;
    }
  }

  .banner-cta {
    @include margin(lg, t);

    &__button {
      @include font-size(sm);
      @include padding(sm, tb);
      @include padding(md, lr);
      @include font-weight(semibold);
      border-radius: .25rem;

      @include media(tablet) {
        @include font-size(lg);
        @include padding(md, tb);
        @include padding(lg, lr);
        @include font-weight(semibold);
        border-radius: 1rem;
      }

      @include media(desktop) {
        @include font-size(lg);
        @include padding(md, tb);
        @include padding(lg, lr);
        @include font-weight(semibold);
        border-radius: 1rem;
      }

      display: inline-block;
      color: getColor(white-2);
      background-color: getColor(blue);
      box-shadow: 0rem 1rem 5rem rgba(getColor(black), 0.6);
      text-transform: uppercase;
      transition: all .2s ease-in;

      &:hover {
        transform: translateY(-.5rem);
      }

      &:active {
        transform: translateY(.3rem);
      }
    }
  }

}

.steps {

  &__header {
    text-align: center;
    @include font-size(lg-2);
    color: getColor(blue);
    text-transform: uppercase;
    @include padding(lg);
  }

  @include padding(lg);

  .step {
    display: flex;
    align-items: center;
    // @include margin(md, t);

    &__image {
      width: 50%;
      -webkit-filter: grayscale(1);
      filter: grayscale(100%) sepia(100%) hue-rotate(165deg);
    }

    &__header {
      @include font-size(sm);

      @include media(tablet) {
        @include font-size(lg-2);
      }

      @include media(desktop) {
        @include font-size(lg-2);
      }
    }

    &__header-step {
      @include font-weight(semibold);
    }

    &__content {
      @include margin(sm, t);
      @include font-size(sm-2);

      @include media(tablet) {
        @include margin(lg, t);
        @include font-size(lg);
      }

      @include media(desktop) {
        @include margin(lg-3, t);
        @include font-size(lg-2);
      }
    }

    &__container {
      width: 50%;
      @include padding(sm);

      @include media(tablet) {
        @include padding(lg);
      }
    }

    &--2 {
      flex-direction: row-reverse;
      padding-left: 0;
    }
  }
}
