<div class="main-info">
  <div class="main-text">
    <h1>
      <span class="main-text-primary">Spaced Repetition</span>
      <span class="main-text-sub">
        Spaced Repetition is a learning strategy which ensures that what you are studying sticks into your long term
        memory.
      </span>
    </h1>
    <a href="/study" class="cta btn">Study now</a>
  </div>
</div>
<div class="mol-lp-sm">
  <mol-img-jumbotron
    class="jumbotron"
    heading="Welcome to Spaced Repetition"
    imgSrc="/assets/studying.jpg"
    text="Spaced Repetition is a learning strategy which ensures that what you are studying sticks into your long term memory."
    actionText="Start"
    actionUrl="/study"
  >
  </mol-img-jumbotron>

  <div class="home-info-cards">
    <div class="home-types-item mol-lf mol-lf-fd-c mol-lm-t-md mol-lf-jc-sb">
      <mol-info-card heading="Topics">
        <p>Topics are the different subjects that you want to study.</p>
        <a class="mol-tta-c" molBtn href="/topics" type="secondary" size="sm"
          ><span class="fa fa-eye"></span> View Topics</a
        >
      </mol-info-card>
    </div>

    <div class="home-types-item mol-lf mol-lf-fd-c mol-lm-t-md mol-lf-jc-sb">
      <mol-info-card heading="Cards">
        <p>Cards are the individual knowledge or concepts that you want review.</p>
        <a class="mol-tta-c" molBtn href="/cards" type="secondary" size="sm"
          ><span class="fa fa-eye"></span> View Cards</a
        >
      </mol-info-card>
    </div>
  </div>
</div>
