@import '../../styles/framework.scss';

.font-styles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .text {
    padding: 1rem;
    margin-top: 1rem;
    @include font-size(lg);
    display: inline-block;
    flex-basis: 98%;

    @include media(tablet) {
      flex-basis: 48%;
    }

    @include media(desktop) {
      flex-basis: 32%;
    }

    .small {
      display: block;
      font-size: 1.4rem;

      .bold {
        font-weight: 400;
      }
    }
  }
}

.font-sizes {
  p {
    padding: 1rem;

    &.small2 {
      @include font-size(sm-2);
    }

    &.small {
      @include font-size(sm);
    }

    &.medium {
      @include font-size(md);
    }

    &.large {
      @include font-size(lg);
    }

    &.large2 {
      @include font-size(lg-2);
    }
  }
}
