<div class="banner">
  <div class="banner-message">
    <h1 class="banner-message__header">Spaced Repetition</h1>
    <br />
    <p class="banner-message__slogan">
      <span class="banner-message__slogan-text">
        Helping people study more efficiently
      </span>
    </p>
    <div class="banner-cta">
      <a href="/app/study" class="banner-cta__button">Start now</a>
    </div>
  </div>
</div>

<div class="steps">
  <h2 class="steps__header">3 simple steps</h2>

  <div class="step step--1">
    <img class="step__image" src="../../assets/steps-1.jpg" />
    <div class="step__container">
      <h3 class="step__header"><span class="step__header-step">Step 1:</span> Create deck</h3>
      <p class="step__content">
        Create a deck for the topic you want to study.
      </p>
    </div>
  </div>
  <div class="step step--2">
    <img class="step__image" src="../../assets/steps-2.jpeg" />
    <div class="step__container">
      <h3 class="step__header"><span class="step__header-step">Step 2:</span> Study</h3>
      <p class="step__content">Study the concept you want to learn. Add flash cards using the app.</p>
    </div>
  </div>
  <div class="step step--3">
    <img class="step__image" src="../../assets/steps-3.jpg" />
    <div class="step__container">
      <h3 class="step__header"><span class="step__header-step">Step 3:</span> Review</h3>
      <p class="step__content">
        Go to
        <a class="al-semibold" alLink="animated" [underline]="true" color="tertiary" [routerLink]="['/app', 'study']"
          >Study</a
        >
        page to review all decks or to Decks page to review specific deck.
      </p>
    </div>
  </div>
</div>
