<div class="card-manager">
  <h2 class="header">Card Manager</h2>

  <div class="cards-container">
    <div class="card-header">
      <div class="card-header__front">Front</div>
      <div class="card-header__back">Back</div>
      <div class="card-header__action"></div>
      <div class="card-header__topic-name">Topic Name</div>
    </div>
    <div class="cards" *ngFor="let card of cards; let i = index">
      <input id="toggle-{{ i }}" class="card-toggle" type="checkbox" />
      <div class="card card--collapsed">
        <div class="card__front al-ellipsis">{{ card.front }}</div>
        <div class="card__back al-ellipsis">{{ card.back }}</div>
        <div class="card__topic-name">{{ card.topicName }}</div>
        <label for="toggle-{{ i }}" class="card__action card__action--expand"><i class="fas fa-caret-left"></i></label>
      </div>
      <div class="card card--expanded">
        <div class="card-info">
          <div class="card-info__collapse">
            <label for="toggle-{{ i }}" class="card__action card__action--collapse"
              ><i class="fas fa-caret-down"></i
            ></label>
          </div>
          <div class="card-info__fields">
            <div class="card-info__field card-info__field--topic">
              <span class="al-semibold">Topic:</span> {{ card.topicName }}
            </div>
            <div class="card-info__field card-info__field--front">
              <span class="al-semibold">Front:</span>
              {{ card.front }}
            </div>
            <div class="card-info__field card-info__field--back">
              <span class="al-semibold">Back:</span>
              {{ card.back }}
            </div>
            <div class="card-info__field card-info__field--box">
              <span class="al-semibold">Box:</span>
              {{ card.box }}
            </div>
            <div class="card-info__field card-info__field--box">
              <span class="al-semibold">Ready to study:</span>
              {{ card.isReadyToStudy ? 'yes' : 'no' }}
            </div>
            <div class="card-info__field card-info__field--last-study">
              <span class="al-semibold">Last Study:</span>
              {{ card.lastStudyDate }}
            </div>
            <div class="card-info__field card-info__field--next-study">
              <span class="al-semibold">Next Study:</span>
              {{ card.nextStudyDate }}
            </div>
            <div class="card-info__field card-info__field--actions">
              <a class="card-info__action card-info__action--edit" alBtn="secondary" size="tiny" href="#">Edit</a>
              <a class="card-info__action" alBtn="alert" size="tiny" href="#">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
