@import 'framework.scss';

.card-manager {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  width: 90%;

  @include media(tablet) {
    width: 80%;
  }

  @include font-size(sm);

  @include media(tablet) {
    @include font-size(md);
  }

  .header {
    @include font-size(md);
    @include font-weight(semibold);
    @include margin(lg, b);

    @include media(tablet) {
      @include font-size(lg);
    }
  }

  .cards-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .togglers {
      @include margin(lg, t);

      .add-card-toggler {
        display: inline-block;
        width: 50%;
        @include font-size(md);
        text-align: left;
      }

      .filter-toggler {
        display: inline-block;
        width: 50%;
        text-align: right;
        @include font-size(md);
      }

      .add-card-toggle {
        // display: none;

        &:checked {
          & ~ .add-card .add-card__form {
            display: block;
          }

          & ~ .add-card-toggler {
            color: getColor(green);
          }
        }
      }

      .filter-toggle {
        display: none;

        &:checked {
          & ~ .filter .filter__container {
            display: flex;
          }

          & ~ .filter-toggler {
            color: getColor(green);
          }
        }
      }

      .filter {
        &__container {
          display: none;
          align-items: center;
          @include padding(md, tb);
          @include margin(md, tb);
          border-top: 0.1rem solid getColor(gray-light);
          border-bottom: 0.1rem solid getColor(gray-light);
        }

        &__input {
          &--search {
            @include padding(sm);
            @include margin(md, l);
            border: none;
            border-bottom: 0.1rem solid getColor(gray-light);
            width: 55%;

            @include media(tablet) {
              width: 75%;
            }
          }
        }

        &__study {
          @include margin(sm, r);
        }

        &__field {
          flex-basis: 50%;
          vertical-align: middle;
        }
      }

      .add-card {
        @include margin(lg, tb);
        @include font-size(sm);

        @include media(tablet) {
          @include font-size(md);
        }

        .errors,
        .messages {
          @include margin(md, b);
        }

        &__form {
          // display: none;
        }

        &__front {
          width: 100%;
          border: 0.1rem solid getColor(gray-light);
          @include margin(md, b);
          @include padding(md);
          @include font-size(sm);

          @include media(tablet) {
            @include font-size(md);
          }
        }

        &__back {
          width: 100%;
          border: 0.1rem solid getColor(gray-light);
          @include margin(md, b);
          @include padding(md);
          @include font-size(sm);

          @include media(tablet) {
            @include font-size(md);
          }
        }

        &__topic {
          width: 100%;
          @include margin(md, b);
          @include font-size(sm);

          background: url('../../../../assets/white-arrow.svg');
          background-size: 4%;
          background-repeat: no-repeat;
          background-position: 98% 50%;
          color: getColor(white);
          background-color: getColor(purple);

          @include media(tablet) {
            background-size: 3%;
            @include font-size(md);
          }

          @include media(desktop) {
            @include font-size(md);
            background: none;
            background-color: getColor(white);
            color: getColor(black);
          }

          overflow: hidden;
          border-radius: 0;
          @include padding(md);
        }

        &__submit {
          &:disabled {
            background-color: getColor(gray-light);
            color: getColor(gray);
            border: none;

            &:hover,
            &:active {
              border: none;
              background-color: getColor(gray-light);
              color: getColor(gray);
            }
          }
        }
      }
    }

    %topicName {
      flex-basis: 10%;
      display: none;
    }

    %front {
      flex-basis: 40%;

      @include media(desktop) {
        flex-basis: 20%;
      }
    }

    %back {
      flex-basis: 40%;
    }

    %box {
      flex-basis: 10%;
      display: none;

      @include media(desktop) {
        display: inline-block;
      }
    }

    %ready {
      flex-basis: 5%;
      display: none;

      @include media(desktop) {
        display: inline-block;
      }
    }

    %next-study {
      flex-basis: 10%;
      display: none;

      @include media(desktop) {
        display: inline-block;
      }
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      @include font-weight(semibold);
      @include padding(md);
      border-bottom: 0.1rem solid getColor(black);

      &__topic-name {
        @extend %topicName;
      }

      &__front {
        @extend %front;
      }

      &__back {
        @extend %back;
      }

      &__box {
        @extend %box;
      }

      &__ready {
        @extend %ready;
      }

      &__next-study {
        @extend %next-study;
      }
    }

    .card-toggle {
      display: none;

      &:checked {
        & ~ .card--expanded {
          display: flex;
        }

        & ~ .card--collapsed {
          display: flex;

          .card__action--collapse {
            display: inline-block;
          }

          .card__action--expand {
            display: none;
          }
        }
      }

      &:not(:checked) {
        & ~ .card--expanded {
          display: none;
        }

        & ~ .card--collapsed {
          display: flex;

          .card__action--collapse {
            display: none;
          }

          .card__action--expand {
            display: inline-block;
          }
        }
      }
    }

    .card {
      justify-content: space-between;
      align-items: center;
      @include padding(md);
      border-bottom: 0.1rem dotted getColor(gray);

      &__topic-name {
        @extend %topicName;
        @include font-weight(semibold);
      }

      &__front {
        @extend %front;

        @include media(desktop) {
          text-decoration: none;
        }

        &:active {
          white-space: initial;
          overflow: initial;
          text-overflow: initial;
          text-decoration: none;
        }
      }

      &__back {
        @extend %back;

        @include media(desktop) {
          text-decoration: none;
        }

        &:active {
          white-space: initial;
          overflow: initial;
          text-overflow: initial;
          text-decoration: none;
        }
      }

      &__box {
        @extend %box;
      }

      &__ready {
        @extend %ready;
      }

      &__next-study {
        @extend %next-study;
      }

      &__action {
        @include font-size(md);
        cursor: pointer;
      }

      .card-info {
        text-decoration: none;
        display: flex;
        flex-basis: 100%;
        flex-direction: column;

        &__toggle {
          display: none;

          &:checked {
            & ~ .card-info__field {
              .card-info__display {
                display: none;
              }

              .card-info__form {
                display: inline-block;
              }
            }

            & ~ .card-info__actions {
              .card-info__action--edit {
                display: none;
              }

              .card-info__action--save {
                display: inline-block;
              }

              .card-info__action--cancel {
                display: inline-block;
              }
            }
          }

          &:not(:checked) {
            & ~ .card-info__field {
              .card-info__display {
                display: inline-block;
              }

              .card-info__form {
                display: none;
              }
            }

            & ~ .card-info__actions {
              .card-info__action--edit {
                display: inline-block;
              }

              .card-info__action--save {
                display: none;
              }

              .card-info__action--cancel {
                display: none;
              }
            }
          }
        }

        &__form {
          width: 50%;
        }

        &__update-input {
          @include padding(md);
          @include font-size(sm);
          border: 0.1rem solid getColor(gray-light);
          width: 100%;

          &--select {
            background-color: getColor(white);
            color: getColor(black);
          }
        }

        &__collapse {
          text-align: right;
          flex-basis: 100%;
        }

        &__fields {
          flex-basis: 100%;
          justify-content: center;
          display: flex;
          flex-direction: column;
          @include padding(md);
        }

        &__field {
          @include padding(sm);
          display: flex;
          justify-content: space-between;
          border-bottom: 0.1rem dashed getColor(gray-light);
        }

        &__actions {
          @include padding(sm);
          @include margin(lg, t);
          text-align: center;
        }

        &__action {
          &--edit {
            @include margin(md, r);
          }

          &--save {
            @include margin(sm, r);
            display: none;
          }

          &--cancel {
            @include margin(md, r);
            display: none;
          }
        }
      }
    }
  }
}

.no-cards {
  text-align: center;
}
