.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
}

.al-bold {
  @include font-weight(bold);
}

.al-italic {
  font-style: italic;
}

.al-underline {
  text-decoration: underline !important;
}
