/**
 * Basic typography style for copy text
 */

body {
  font-family: $text-font-stack;
  font-weight: $text-default-font-weight;
  color: $text-color;
}

*,
*::before,
*::after {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
div,
p,
a,
li,
table {
  @include font-size;
  padding: 0;

}

p {
  hyphens: auto;
}
